[Unit]
Description=zenkoo_svc.infra.setting
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/zenkoo/svc.infra.setting
Environment=ZENKOO_CONFIG_CONSUL_PREFIX=/zenkoo/config/svc.infra.setting
ExecStart=/opt/zenkoo/svc.infra.setting/bin/svc
PIDFile=/run/zenkoo/svc.infra.setting.pid
Restart=always
User=ci
Group=ci

[Install]
WantedBy=multi-user.target
