[Unit]
Description=zenkoo_svc.infra.list
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/zenkoo/svc.infra.list
Environment=ZENKOO_CONFIG_CONSUL_PREFIX=/zenkoo/config/svc.infra.list
ExecStart=/opt/zenkoo/svc.infra.list/bin/svc
PIDFile=/run/zenkoo/svc.infra.list.pid
Restart=always
User=ci
Group=ci

[Install]
WantedBy=multi-user.target
