[Unit]
Description=zenkoo_svc.biz.org
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/zenkoo/svc.biz.org
Environment=ZENKOO_CONFIG_CONSUL_PREFIX=/zenkoo/config/svc.biz.org
ExecStart=/opt/zenkoo/svc.biz.org/bin/svc
PIDFile=/run/zenkoo/svc.biz.org.pid
Restart=always
User=ci
Group=ci

[Install]
WantedBy=multi-user.target
