[Unit]
Description=zenkoo_svc.biz.log
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/zenkoo/svc.biz.log
Environment=ZENKOO_CONFIG_CONSUL_PREFIX=/zenkoo/config/svc.biz.log
ExecStart=/opt/zenkoo/svc.biz.log/bin/svc
PIDFile=/run/zenkoo/svc.biz.log.pid
Restart=always
User=ci
Group=ci

[Install]
WantedBy=multi-user.target
