[Unit]
Description=zenkoo_svc.biz.relation
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/zenkoo/svc.biz.relation
Environment=ZENKOO_CONFIG_CONSUL_PREFIX=/zenkoo/config/svc.biz.relation
ExecStart=/opt/zenkoo/svc.biz.relation/bin/svc
PIDFile=/run/zenkoo/svc.biz.relation.pid
Restart=always
User=ci
Group=ci

[Install]
WantedBy=multi-user.target
