[Unit]
Description=zenkoo_svc.infra.generator
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/zenkoo/svc.infra.generator
Environment=ZENKOO_CONFIG_CONSUL_PREFIX=/zenkoo/config/svc.infra.generator
ExecStart=/opt/zenkoo/svc.infra.generator/bin/svc
PIDFile=/run/zenkoo/svc.infra.generator.pid
Restart=always
User=ci
Group=ci

[Install]
WantedBy=multi-user.target
