[Unit]
Description=zenkoo_svc.biz.account
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/zenkoo/svc.biz.account
Environment=ZENKOO_CONFIG_CONSUL_PREFIX=/zenkoo/config/svc.biz.account
ExecStart=/opt/zenkoo/svc.biz.account/bin/svc
PIDFile=/run/zenkoo/svc.biz.account.pid
Restart=always
User=ci
Group=ci

[Install]
WantedBy=multi-user.target
