[Unit]
Description=zenkoo_svc.infra.link-ws
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/zenkoo/svc.infra.link
Environment=MICRO_BROKER=nats
Environment=MICRO_BROKER_ADDRESS=127.0.0.1:4222
Environment=MICRO_REGISTRY=consul
Environment=MICRO_REGISTRY_ADDRESS=127.0.0.1:8500
Environment=ZENKOO_TOKEN=zenkoo
ExecStart=/opt/zenkoo/svc.infra.link/bin/ws
PIDFile=/run/zenkoo/svc.infra.link-ws.pid
Restart=always
User=ci
Group=ci

[Install]
WantedBy=multi-user.target
